{% block sidebar %}

      <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="nav-link px-2">
                <span class="text"></span>
              </div>
            </li>
            <li class="nav-item">
              <a href="/homepage/mobile/" class="nav-link px-2">
                <i class="material-icons icon"> devices_other </i>
                <span class="text">Mobile</span></a
              >
            </li>
            <li class="nav-item">
              <a href="/homepage/laptop/" class="nav-link px-2">
                <i class="material-icons icon"> devices_other </i>
                <span class="text">Laptop</span>
              </a>
            </li>
            
          </ul>
        </div>
      </div>

{% endblock %}